body {
    background-color:  rgb(12, 71, 12);
    font-family: Arial, sans-serif;
    margin: 0;
}

.jumbotron {
    text-align: center;
}

.card {
    margin-bottom: 20px;
}

.card-header {
    background-color: #29967d;
    color: #fff;
}

.card-body {
    background-color: #fff;
}

.form-control {
    margin: 5px 0;
}

.btn-primary {
    background-color: greenyellow;
    color: #fff;
}

.table {
    background-color: #fff;
}

.table th {
    background-color: #007bff;
    color: #fff;
}

.table-striped tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}
